@use '../../../../styles/foundations/colors' as *;
@use '../../../../styles/foundations/radius' as *;
@use '../../../../styles/foundations/shadows' as *;
@use '../../../../styles/foundations/spacing' as *;

/*
  Confirmation dialog emphasizes
  potentially destructive actions.
*/
.discard-modal {
  display: flex;
  flex-direction: column;

  gap: $spacing-md;

  padding: $spacing-xl $spacing-2xl;
}

.discard-modal h2 {
  margin: 0;

  padding-bottom: $spacing-md;

  border-bottom: 1px solid $border-color;
}

.discard-modal p {
  margin: 0;
}

.form-actions {
  display: flex;
  justify-content: flex-end;

  gap: $spacing-md;
}

.form-actions .action-button {
  min-width: 9rem;
}
